@using CarWorld.Web.ViewModels.Administration.Categories
@model EditCategoryInputModel
@{
    ViewData["Title"] = "Edit Category";
}

<div class="d-flex justify-content-center align-items-center">
    <form method="post" class="col-md-6 align-content-center" enctype="multipart/form-data">
        <input type="hidden" name="id" value="@Model.Id"/>
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Image"></label>
            <input asp-for="Image" />
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>

        <input type="submit" class="btn btn-primary" />
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}